
<li><%= link_to( 'Home', '/home') %>
</li>

<li><%= link_to( 'News', '/articles') %>
</li>

<li><%= link_to( 'About', '/about') %>
</li>

<li><%= link_to( 'People', '/people') %>
</li>

<li><%= link_to( 'Research Projects', '/projects') %>
</li>

<li><%= link_to( 'Publications', '/publications') %>
</li>

<li><%= link_to( 'Courses', '/courses') %>
</li>
