
<li>
<%= link_to( 'Intelligent Systems Laboratory (ISL)', root_path) %>
</li>

<li><%= link_to( 'Sea Level Challenge (SEAL) Initiative', root_path) %>
</li>

<li><%= link_to( 'Publications', root_path) %>
</li>

<li><%= link_to( 'Courses', root_path) %>
</li>

<li><%= link_to( 'Personnel', root_path) %>
</li>

<li><%= link_to( 'About CTSM', root_path) %>
</li>