
<li>
<%= link_to( 'Intelligent Systems Laboratory (ISL)', '#') %>
</li>

<li><%= link_to( 'Sea Level Challenge (SEAL) Initiative', '#') %>
</li>

<li><%= link_to( 'Publications', '#') %>
</li>

<li><%= link_to( 'Courses', '#') %>
</li>

<li><%= link_to( 'Personnel', '#') %>
</li>

<li><%= link_to( 'About CTSM', '#') %>
</li>