<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<%= render '/refinery/head' %>
<body ng-app='ctsm'>
    <div class="container">

        <%= site_bar -%>
        <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>

        <%= render '/refinery/header' -%>

        <div class="row ctsm-content">
        <div class="col-lg-12">
          <%= yield %>
          </div>
        </div>

        <%= render '/refinery/footer' -%>

        <%= render '/refinery/javascripts' %>

    </div>

</body>
</html>
